#navbar {
    height: 10vh;
    background-color: white;
}

#hero {
    height: 70vh;
    width: 100%;
    /* background-color: red; */
}

body {
    background-color: white;
}

#home {
    height: 70vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    color: black;
    /* background-image: url('https://png.pngtree.com/png-vector/20230831/ourmid/pngtree-showing-the-front-of-restaurants-vector-png-image_9233081.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right; */
}

#heading {
    font-size: 50px;
    font-weight: bold;
    color: green;
}

#home p {
    font-size: 18px;
}

#form {
    margin: 50px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px;
}

#form input {
    width: 350px;
}

#footer {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

#images img {
    height: 60px;
}

#btn {
    border: 1px solid green;
    padding: 6px 10px;
    box-shadow: 0px 0px 2px green;
    background-color: transparent;
    border-radius: 5px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#btn:hover {
    background-color: green;
    color: white;
}

#bill {
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5px;
    box-shadow: 0px 0px 2px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
}

#bill Input {
    font-size: 12px;
    font-weight: bold;
}
/* // table available */
#avl{
    position: fixed;
    top: 200px;
    left: 130px;
    font-size: 30px;
}